.app-login .auth-background-holder {
    background: url("/images/background/background-1.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    min-height: 100%
}

.visitors-table {
    &--image {
        width: 50px;
        height: 50px;
    }
}

.bg-portal-green {
    background-color: #edfdf6;
}

.clickable {
    cursor: pointer;
}

.hidden {
    display: none;
}

.form-control {
    &--textarea {
        min-height: 10em !important;
    }

    &--textarea-sm {
        min-height: 3em !important;
    }
}

.disabled,
.disabled i,
.disabled svg {
    cursor: not-allowed !important;
    pointer-events: unset !important;
}

.modal-dialog {
    &--md {
        max-width: 40vw;
    }

    &--md-max {
        max-width: 50vw;
    }

    &--lg {
        max-width: 70vw;
    }
}

.theme-separator {
    height: 2px;
    background: #5cb377;
    border: 0;
}

.submenu-link {
    &.active {
        color: #15a362 !important;
    }
}
