.form-floating {
    .form-control,
    .form-select {
        background-color: #edfdf6;
        color: rgb(33, 37, 41);
    }

    label::after {
        background-color: transparent !important;
    }
}

#my_camera,
#my_camera video {
    width: 100% !important;
    height: auto !important;
}
